<?xml version="1.0" encoding="utf-8"?>
<Media Key="69c45da5-3d7b-4c7b-9b11-4eafa35ac840" Alias="30Dorb" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Dorb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="30Dorb" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/unoni0l1/30dorb.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>