<?xml version="1.0" encoding="utf-8"?>
<Media Key="acb1f0ba-9939-484c-8a36-9a32225b2750" Alias="52501490912 5Be449f294 B" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Be449f294B</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:35</CreateDate>
    <NodeName Default="52501490912 5Be449f294 B" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xtyldlbz/52501490912_5be449f294_b.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>