<?xml version="1.0" encoding="utf-8"?>
<Media Key="52c5b077-2ce9-42dd-8ba2-00f0a701b8b7" Alias="7605916912 2E0ea82423 O" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/E0ea82423O</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:35</CreateDate>
    <NodeName Default="7605916912 2E0ea82423 O" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ogymkuxj/7605916912_2e0ea82423_o.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>