<?xml version="1.0" encoding="utf-8"?>
<Media Key="2eef4b7b-0acc-4afe-92b5-cddee1ee9f70" Alias="Custard" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Custard</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-09T15:38:58</CreateDate>
    <NodeName Default="Custard" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pvfp4lwm/custard.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>