<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d4b4f4d-38d6-4d8c-82d9-348e823691c3" Alias="Mars" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Mars</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Mars" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jnhfw5ow/mars.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>