<?xml version="1.0" encoding="utf-8"?>
<Media Key="41f14ebc-0d96-4666-bf25-1a73d5c89c74" Alias="Redspot1" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Redspot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Redspot1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xjhpcqmw/redspot1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>