<?xml version="1.0" encoding="utf-8"?>
<Media Key="aebfb201-2b81-4774-b0b1-839c7fb285e6" Alias="Stsci 01HBBMJ8R6HTXP5W1EVEJ24D64" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Stsci01HBBMJ8R6HTXP5W1EVEJ24D64</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Stsci 01HBBMJ8R6HTXP5W1EVEJ24D64" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a4zl5lub/stsci-01hbbmj8r6htxp5w1evej24d64.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>