<?xml version="1.0" encoding="utf-8"?>
<Media Key="af14552b-5d97-44ac-b99d-21e5dc3bb975" Alias="Turbineblades" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Turbineblades</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Turbineblades" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fvkbjl2x/turbineblades.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>