<?xml version="1.0" encoding="utf-8"?>
<Media Key="86a3d5bc-be99-4be3-a0df-e349944bb92e" Alias="Galaxies" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Galaxies</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Galaxies" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xlklhbuz/galaxies.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>