<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eaecfc1-3516-4645-9525-d883c9513b74" Alias="Redspot2" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Redspot2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Redspot2" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y5hl2xqw/redspot2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>