<?xml version="1.0" encoding="utf-8"?>
<Media Key="129f2562-71a6-46e3-851e-7d63d34e75a7" Alias="Shuttlelaunch" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Shuttlelaunch</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Shuttlelaunch" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mqsj4evg/shuttlelaunch.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>