<?xml version="1.0" encoding="utf-8"?>
<Media Key="8833354d-a0ec-4eff-9da2-44764b297854" Alias="Shuttlelanding" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Shuttlelanding</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Shuttlelanding" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jm0dhchm/shuttlelanding.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>