<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7c10165-76be-4c39-a2b8-7077ce466850" Alias="Space" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Space</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-02-19T11:02:24</CreateDate>
    <NodeName Default="Space" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>