<?xml version="1.0" encoding="utf-8"?>
<Media Key="41ae94f3-70a4-46fd-a944-80ac9c861c73" Alias="Stormfromspace" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Stormfromspace</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Stormfromspace" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4wkk2qne/stormfromspace.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>