<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a2893dc-4c25-4fe4-aa88-2af13c89c4e9" Alias="Windtunnel" Level="2">
  <Info>
    <Parent Key="a7c10165-76be-4c39-a2b8-7077ce466850">Space</Parent>
    <Path>/Space/Windtunnel</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-02-19T11:02:36</CreateDate>
    <NodeName Default="Windtunnel" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1kjdq4rf/windtunnel.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>