<?xml version="1.0" encoding="utf-8"?>
<Content Key="5a711301-a7db-45f5-9987-093c5bbce333" Alias="A Single Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ASinglePage</Path>
    <Trashed>false</Trashed>
    <ContentType>singlePage</ContentType>
    <CreateDate>2024-02-19T10:38:23</CreateDate>
    <NodeName Default="A Single Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Page title Updates]]></Value>
    </pageTitle>
  </Properties>
</Content>