<?xml version="1.0" encoding="utf-8"?>
<Content Key="67b5b9af-6322-4870-a693-3bf6d8923a36" Alias="Another child page on target" Level="2">
  <Info>
    <Parent Key="f61e3612-41c0-4cb4-b233-025f35d9eb54">A Content Page</Parent>
    <Path>/AContentPage/AnotherChildPageOnTarget</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-09T16:02:16</CreateDate>
    <NodeName Default="Another child page on target" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <someContent>
      <Value><![CDATA[another child]]></Value>
    </someContent>
  </Properties>
</Content>