<?xml version="1.0" encoding="utf-8"?>
<Content Key="f61e3612-41c0-4cb4-b233-025f35d9eb54" Alias="A Content Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AContentPage</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-09T15:36:54</CreateDate>
    <NodeName Default="A Content Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <someContent>
      <Value><![CDATA[A Page of content (Target)]]></Value>
    </someContent>
  </Properties>
</Content>