<?xml version="1.0" encoding="utf-8"?>
<Content Key="fcb8e0e0-a350-4038-a8bd-bd64895bcde2" Alias="Child Page on target" Level="2">
  <Info>
    <Parent Key="f61e3612-41c0-4cb4-b233-025f35d9eb54">A Content Page</Parent>
    <Path>/AContentPage/ChildPageOnTarget</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-06-09T15:48:15</CreateDate>
    <NodeName Default="Child Page on target" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <someContent>
      <Value><![CDATA[Child page on target]]></Value>
    </someContent>
  </Properties>
</Content>